In [69]:
%matplotlib notebook
import matplotlib.pyplot as plt
import numpy as np
import statsmodels.api as sm
import pandas as pd
import gmaps
import gmaps.datasets
# Google developer API key
from config import gkey
# Access maps with unique API key
gmaps.configure(api_key=gkey)

In [70]:
sar_temperatures=pd.read_csv('datasets/PRISM saratoga mean temp since 1895CSV.csv',delimiter=',')
sar_temperatures_df = pd.DataFrame(sar_temperatures)
sar_temperatures_df.columns = sar_temperatures_df.iloc[9]
sar_temperatures_df = sar_temperatures_df[10:]
sar_temperatures_df = sar_temperatures_df.reset_index(drop=True)
sar_temperatures_df = sar_temperatures_df.dropna(how='any',axis=0) 

#us_temperatures_df.to_csv('datasets/US-Temperatures-CSV2.csv', index=False) 
sar_temperatures_df['County']='Saratoga'
sar_temperatures_df['State']='New York'
sar_temperatures_df['Latitude']='43.1075'
sar_temperatures_df['Longitude']='-73.8639'
sar_temperatures_df = sar_temperatures_df[['Longitude', 'Latitude', 'Date', 'tmean (degrees F)','County','State']]
sar_temperatures_df = sar_temperatures_df.rename(columns={'tmean (degrees F)': 'tmeanF'})
sar_temperatures_df.tail()

9   Longitude Latitude  Date tmeanF    County     State
118  -73.8639  43.1075  2013   46.6  Saratoga  New York
119  -73.8639  43.1075  2014   45.4  Saratoga  New York
120  -73.8639  43.1075  2015   46.4  Saratoga  New York
121  -73.8639  43.1075  2016   48.6  Saratoga  New York
122  -73.8639  43.1075  2017   47.9  Saratoga  New York

In [71]:
sar_temperatures_df['Longitude'] = pd.to_numeric(sar_temperatures_df['Longitude'])
sar_temperatures_df['Latitude'] = pd.to_numeric(sar_temperatures_df['Latitude'])
#sar_temperatures_df['tmeanF'] = pd.to_numeric(sar_temperatures_df['tmeanF'])
sar_temperatures_df["tmeanF"] = sar_temperatures_df.tmeanF.astype(float)
#sar_temperatures_df.tmeanF.dtype
#https://stackoverflow.com/questions/48094854/python-convert-object-to-float

In [77]:
# Create a list containing coordinates

locations = sar_temperatures_df[['Latitude','Longitude']]
weights = sar_temperatures_df['tmeanF']
#locations.head()
fig = gmaps.figure(map_type='HYBRID')
heatmap_layer = gmaps.heatmap_layer(locations)
fig.add_layer(gmaps.heatmap_layer(locations,weights=weights))
heatmap_layer.point_radius = 8
fig

Figure(layout=FigureLayout(height='420px'))